@media (min-width: 1600px) and (max-width: 2260px) {

   /* links */
   .link__item {
      font-size: 21px;
      margin-left: 90px;
   }

   .photo__bg {
      width: 100%;
   }

   /* clients__item  */

   .clients__item {
      width: 28%;
   }

   .clients__title {
      font-size: 60px;
   }

   .clients__text {
      font-size: 35px;
   }

   /* .collapsible__header */
   .accordion {
      width: 55%;
   }

   .collapsible__header {
      font-size: 35px;
   }

   .collapsible__header::after {
      font-size: 90px;
   }

   .collapsible__item ul li, .collapsible__item ol li {
      font-size: 22px;
   }

   .collapsible__title {
      font-size: 24px;
   }

   .collapsible__text {
      font-size: 20px;
   }

   /* .about__title */

   .about__title {
      font-size: 60px;
   }

   /* .price__content */
   .price__content {
      width: 55%;
   }

   .price__title {
      font-size: 60px;
   }

   .price__btn {
      font-size: 30px;
   }

   .price__subtitle {
      font-size: 25px;
   }

   .price__text {
      font-size: 25px;
   }

   /* popular__count  */

   .popular__count {
      font-size: 22px;
   }

   .popular__count span {
      font-size: 22px;
   }

   .popular__content {
      align-items: center;
   }

   /* cloth__text  */
   .cloth__text {
      font-size: 27px;
   }

   .cloth__title {
      font-size: 50px;
   }

   /* reviews__text  */

   .reviews__text {
      font-size: 25px;
   }

   .reviews__name {
      font-size: 25px;
   }

   /* property__box  */
   .property__box {
      font-size: 30px;
   }

   /* contact__form input  */

   .contact__form input {
      font-size: 30px;
   }

   .contact__form textarea {
      font-size: 30px;
   }

   .all__btn {
      font-size: 30px;
   }

   /* footer__text  */
   .footer__text {
      font-size: 22px;
   }

   .footer__item {
      justify-content: space-around;
   }

   .footer__contact {
      display: flex;
      flex-direction: column;
      text-align: center;
   }

   .footer__phone {
      font-size: 35px;
   }

   .footer__mail {
      text-align: end;
      font-size: 22px;
   }

   .footer__end {
      font-size: 20px;
   }

   /* .nav__inner.active */
   .nav__inner.active {
      top: 4.8%;
   }

   /* home page slide */

   .intro_slide_three_text.two {
      font-size: 30px;
      width: 40%;
   }

   .intro_slide_three_btn {
      margin-right: 200px;
   }

   .intro_slide_three_text {
      font-size: 22px;
   }

   .intro_slide_three_title {
      padding: 18px 178px;
   }

   .intro_slide_three_title.four {
      padding: 18px 32px;
   }

   .intro_slide_three_btns.four {
      left: 5%;
   }

   .intro_slide_three_title.two {
      padding: 18px 32px;
   }

   /* catalog page */
   .checkbox__text label {
      font-size: 22px;
   }

   .sort .custom-select-trigger {
      font-size: 22px;
   }

   .prodNav .ptItem {
      font-size: 22px;
   }

   /* blog page */
   .blog__item__text {
      font-size: 22px;
   }

   .blog__item__title {
      font-size: 25px;
   }

   .blog__data {
      font-size: 22px;
   }

   .blog__img img {
      height: auto;
   }

   /* pageBlog page */

   .page_blog_title {
      font-size: 45px;
   }

   .page_blog_text {
      font-size: 25px;
   }

   .page_blog_title {
      font-size: 22px;
   }

   .breadcrumb-item a {
      font-size: 24px;
   }

   .page_blog_action {
      font-size: 22px;
   }

   /* product__item  */

   .product__item {
      width: 80%;
   }

}

@media (min-width: 1600px) and (max-width: 1920px) {
   .link__item {
      font-size: 21px;
      margin-left: 70px !important;
   }
}

@media(max-width: 1441px) {

   /* links */
   .link__item {
      font-size: 14px;
   }

   /* search */
   .search__send__btn {
      font-size: 13px;
   }

   /* popular */

   .popular__item {
      width: 300px;
   }

   .popular__img {
      object-fit: cover;
      width: 100%;
   }

   /* .total */
   .total__btn {
      padding: 18.5px 15.5px;
   }

   .pogination__btn {
      font-size: 12px;
      width: 35%;
   }
}


@media(max-width: 1251px) {
   .checkbox__text label {
      font-size: 16px;
   }

   /* links */
   .link__item {
      font-size: 13px;
      margin-left: 17px;
   }

   .link__item:first-child {
      margin-left: 20px;
   }

   /* search */
   .search__send__btn {
      font-size: 11px;
      padding: 15px 15px;
   }

   .search__box {
      width: 50px;
      height: 50px;
   }

   /* popular */

   .popular__item {
      width: 300px;
      padding: 0;
   }

   .popular__img {
      object-fit: cover;
   }

   .popular__count span {
      font-size: 16px;
   }

   .popular__title {
      font-size: 45px;
   }

   /* prod__main__item */
   .prod__main__item {
      width: 46%;
   }

   /* intro */
   .intro__title {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 35px;
   }

   .intro__text {
      line-height: 58px;
      font-size: 35px;
   }

   .intro__btn {
      padding: 15px 60px;
   }

   /* ..clients */
   .clients__item {
      width: 25%;
   }

   .clients__content {
      margin-top: 60px;
      align-items: inherit;
   }

   .clients__text {
      font-size: 15px;
   }

   .clinents__bg img {
      width: 100%;
   }

   .collapsible__header {
      font-size: 35px;
      padding: 20px 15px;
   }

   /* about */
   .about__title {
      margin-bottom: 45px;
      font-size: 35px;
   }

   /* accordion */
   .accordion {
      width: 550px;
   }

   /* price */
   /* .photo {
      height: 500px;
   } */

   .photo__bg {
      height: 100%;
   }

   .price__content {
      width: 550px;
   }

   /* .price__btn {
      width: 160px;
      height: 160px;
   } */

   .price__title {
      font-size: 45px;
      line-height: 65px;
      width: 35%;
   }

   /* photo */

   .photo__group {
      width: 400px;
      right: -5%;
   }

   /* property */
   .property {
      margin: 40px 0;
   }

   /* .cloth */
   .cloth__title {
      font-size: 45PX;
   }

   .cloth__text {
      font-size: 18px;
   }

   .cloth__content {
      width: 45%;
   }

   /* reviews */
   .reviews__text {
      margin-bottom: 40PX;
      font-size: 14px;
   }

   .reviews__name {
      font-size: 16px;
   }

   /* form */

   .contact__form input {
      padding: 20px;
   }

   .contact__form textarea {
      padding: 20px;
   }

   /* footer */
   .footer__phone {
      font-size: 28px;
   }

   .swiper-slide.reviews--slider {
      width: 100%;
   }

   .swiper-slide.my__sldier {
      width: 100%;
   }

   /* collapsible */
   .collapsible__inner {
      flex-direction: column;
   }

   .collapsible__item {
      width: 100%;
   }

   .collapsible__text {
      margin-bottom: 25px;
   }

   .collapsible__img {
      margin-bottom: 0px;
   }

   /* all */
   .all__btn {
      font-size: 16px;
      padding: 18px 45px;
   }

   /* footer  */
   .footer__btn {
      font-size: 13px;
      padding: 16px 40;
   }

   /* contact html  */
   .contact__maps {
      width: 49%;
   }

   .contact__con__inner {
      justify-content: space-between;
   }

   .contact__con__item {
      width: 44%;
   }

   /* product html */
   .product__content {
      flex-direction: column;
      align-items: flex-end;
   }

   .product__total {
      /* display: none; */
      width: 45%;
   }

   /* total */
   .total__item {
      text-align: end;
   }

   .total__btn {
      display: none;
   }

   .product__items {
      width: 100%;
   }

   .product__blog {
      align-items: center;
   }

   .product__blog {
      margin-left: 100px;
   }

   .product__blog-respon {
      display: flex;
   }

   .product__price {
      margin-right: 70px
   }

   .product__total {
      display: flex;
      flex-direction: column;
   }

   /* .registration */
   .registration {
      justify-content: space-between;
   }

   .registration__item {
      width: 45%;
   }

   .registration__title {
      font-size: 40px;
   }

   .registration__btn {
      font-size: 16px;
   }

   .registration__text {
      font-size: 15px;
   }

   .registration__form input {
      padding: 15px 20px;
      font-size: 15px;
   }

   .registration__btn {
      padding: 15px;
      font-size: 15px;
   }

   .nav__toggle-item {
      width: 85%;
   }

   .nav__toggle-item::before {
      top: -12px;
   }

   .nav__toggle-item::after {
      bottom: -12px;
   }

   /* .prodNav */

   .prodNav {
      width: 70%;
   }

   /* inntro__inner  */
   .inntro__inner {
      padding-top: 70px;
   }
}

@media(max-width: 1380px) {
   .link__item {
      font-size: 12px;
      margin-left: 28px;
   }
}


@media(max-width: 1151px) {
   .product__blog {
      margin-left: 70px;
   }

   .product__price {
      margin-bottom: 10px;
   }

   /* total  */

   .total__btn {
      width: 100%;
      font-size: 15.5px;
   }

   .link__item {
      font-size: 10px;
   }

   /* .product */
   .product__price {
      margin-right: 50px;
   }

   .product__blog {
      margin-left: 50px;
   }

}

@media (max-width: 1051px) {
   .link__item {
      margin-left: 20px;
   }
}

@media(max-width: 1067px) {

   /* .product */
   .product__price {
      margin-right: 40px;
   }

   .product__blog {
      margin-left: 40px;
   }

   .product__blog-respon {
      flex-direction: column;
   }

}

@media only screen and (max-width: 836px) {
   .container {
      padding: 0 40px;
   }

   /* intro */

   .intro__img {
      display: none;
   }

   .inntro__inner {
      padding-top: 50px;
      /* display: flex; */
      height: 550px;
      position: relative;
      top: 50%;
      /* align-items: center; */
      right: 50%;
      transform: translate(50%, -8%);
   }

   /* links */
   .links {
      display: none;
   }

   .nav__menu {
      display: block;
   }

   .nav__inner {
      display: none;
   }

   /* mobile */

   .mobile__menu {
      display: block;
   }

   /* header */
   .header__title {
      font-size: 18px;
   }

   .header__phone {
      font-size: 16px;
   }

   /* custom  */
   .custom-select-trigger {
      padding: 5.5px 26px 5.5px 11px;
   }

   .custom-option {
      padding: 0 14px;
      line-height: 39px;
      font-size: 15px;
   }

   /* sort */
   .sort .custom-select-trigger {
      padding: 18px 59px 18px 36px;
      font-size: 14px;
   }

   .filter__action {
      padding: 14px 0px;
      font-size: 15px;
   }

   /* clients */
   .clients__item {
      width: 30%;
   }

   .clients__content {
      margin-top: 40px;
   }

   .clinents__bg {
      width: 200px;
   }

   .clients__title {
      font-size: 34px;
   }

   .clients__text {
      font-size: 14px;
   }

   /* .about */
   .about {
      flex-direction: column;
   }

   /* acaccordion  */
   .accordion {
      width: 100%;
   }

   /* pricse */
   .price {
      flex-direction: column;
   }

   .price__content {
      width: 100%;
   }

   .price__title {
      font-size: 35px;
      line-height: 50px;
      width: 100%;
   }

   /* .price__btn {
      margin-right: 50px;
      width: 140px;
      height: 140px;
   } */

   .price__btn a {
      font-size: 20px;
   }

   /* photo */

   /* .photo {
      height: 400px;
   } */


   .photo__group {
      width: 250px;
      right: -4%;
      bottom: -15%;
   }

   /* popular */
   .popular__content {
      padding-bottom: 40px;
      position: relative;
      justify-content: space-between;
   }

   .popular__title {
      font-size: 40px;
   }

   .popular {
      margin-top: 80px;
   }

   .popular__add {
      opacity: 1;
      visibility: visible;
      font-size: 13px;
   }

   .popular__img {
      height: 280px;
   }

   /* contact */
   .contact__form input {
      padding: 12px;
   }

   .contact__form textarea {
      height: 90px;
   }

   .contact__img {
      width: 185px;
      height: auto;
   }

   /* property */
   .property {
      margin: 30px 0;
   }

   .property__box {
      padding: 17px 35px;
      width: 45%;
   }

   .property__box_action {
      display: block;
   }

   /* slder */
   .slider__btns {
      right: 0;
      top: 0;
      position: absolute;
      justify-content: flex-end;
      margin-bottom: 30px;
   }

   /* .cloth */
   .cloth {
      position: relative;
      flex-direction: column;
   }

   .cloth__box {
      display: none;
   }

   .cloth__content {
      margin-right: 0;
      width: 100%;
      /* position: absolute; */
      width: 65%;
      margin-bottom: 20px;
      top: 0;
   }

   .cloth__text {
      border: 0;
      display: inline;
      font-size: 14px;
      margin-right: 10px;
   }

   .cloth__title {
      font-size: 30PX;
   }

   .cloth__slider {
      width: 100%;
   }


   /* contact */

   .contact {
      flex-direction: column;

   }

   .contact__img {
      display: none;
   }

   .contact__form {
      width: 100%;
   }

   .contact__form input {
      padding: 20px 30px;
   }

   .contact__form textarea {
      padding: 30px;
      height: 150px;
   }

   /* allbtn */
   .all__btn {
      padding: 20px 66px;
   }

   /* footer */
   .footer__item {
      width: 50%;
   }

   .footer__item-logo {
      display: none;
   }

   .footer {
      padding: 25px 0px 35px 0;
   }

   .footer__logo-media {
      display: block;
      margin-bottom: 15px;
   }

   .footer__end {
      margin-top: 30px;
   }

   /* ..contact__location */

   .contact__location {
      margin-top: 70px;
      flex-direction: column;
   }

   .contact__con__blog {
      width: 50%;
   }

   .contact__con__item {
      width: 100%;
   }

   .contact__location__title {
      width: 100%;
   }

   .contact__maps {
      width: 100%;
   }

   .contact__con__inner {
      flex-direction: column;
   }

   .contact__con__item {
      margin: 0;
   }

   .contact__con__btn {
      margin-bottom: 20px;
   }

   .contact__con__intro {
      display: flex;
      flex-wrap: wrap;
   }

   .contact__blog__loc {
      width: 80%;
   }

   /* about__content
    */
   .about__content img {
      display: none;
   }

   /* product */
   .product__blogs {
      display: inline-block;
   }

   .product__btns {
      width: 33%;
   }

   .product__blog-respon {
      margin-top: 70px;
      flex-direction: row;
      margin-left: -35%;
   }


   /* .prod__main__item */
   .prod__main__item {
      width: 30%;
   }

   .prodNav {
      width: 80%;
   }

}


@media(max-width: 692px) {
   .product__btn {
      padding: 8px 13px;
   }

   .product__blog-respon {
      margin-left: -38%;
   }

   .product__btns {
      width: 40%;
   }
}

@media(max-width: 692px) {
   .product__btn {
      padding: 8px 13px;
   }

   .product__blog-respon {
      margin-left: -50%;
   }
}


/* @media only screen and (max-width: 436px) */

@media(max-width: 436px) {
   .popular {
      margin-top: 30px;
   }

   .photo {
      padding-top: 30px;
   }

   .container {
      padding: 0px 25px;
   }

   /* header */
   .header__title {
      display: none;
   }

   /* .intro */
   .inntro__inner {
      padding-top: 20px;
   }

   .ticker {
      bottom: -2%;
      font-size: 11px;
      padding: 6px 0;
   }

   .intro__content {
      width: 80%;
   }

   .intro__title {
      margin-top: 65px;
      font-size: 30px;
      padding: 7px;
      text-align: center;
   }

   .intro__text {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
   }

   .intro__text p {
      margin-left: 0;
   }

   .intro__btn {
      display: inline-block;
      margin-left: 0;
      margin-bottom: 10px;
      width: 100%;
      text-align: center;
   }

   /* search  */
   .search__icon {
      display: none;
   }

   /* .clients */

   .clients {
      position: relative;
   }

   .clinents__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100px;
   }

   .clients__content {
      flex-wrap: wrap;
   }

   .clients__item {
      width: 100%;
   }

   .clients__text {
      text-align: center;
      width: 70%;
      font-size: 18px;
   }

   /* about */
   .about__content img {
      display: none;
   }

   /* collapsible */
   .collapsible__header p {
      font-size: 18px;
   }

   .collapsible__header {
      font-size: 18px;
   }

   /*price */
   .price__content {
      flex-direction: column;
   }

   .price__title {
      text-align: center;
   }

   .price__btn {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      margin-top: 8px;
   }

   /* ..slider__btns */
   .slider__btns {
      display: none;
   }

   .swiper-slide {
      display: flex;
      justify-content: center;
   }

   .mySwiper1 {
      display: none;
   }

   /* popular */
   .popular__title {
      font-size: 35px;
      width: 100%;
      margin-right: 0;
      text-align: center;
   }

   /* cards */
   .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   .card__item {
      width: 46%;
      margin: 5px;
      margin-bottom: 30px;
   }

   .card__img {
      width: 100%;
      height: 200px;
      object-fit: cover;
   }

   .card__count {
      flex-direction: column;
   }

   .card__add {
      font-size: 14px;
   }

   .card__add_action {
      height: 40px;
   }

   .card__action_btn {
      padding: 3px 10px;
   }

   .card__add_text {
      font-size: 11px;
   }

   /* property */
   .property__box {
      margin: 0 auto;
      width: 100%;
      padding: 17px 1px;
      font-size: 15px;
   }

   .property__box.load {
      background: transparent;
      color: #2E7E7C;
   }

   .property__box.load:hover {
      display: block;
      background-color: #2E7E7C;
      color: #fff;
   }

   .property__box_action {
      display: none;
   }

   /*reviews */
   .reviews__item {
      padding: 10px 10px 0 10px;
   }

   .reviews__star {
      font-size: 9px;
   }

   /* cloth */
   .cloth {
      display: none;
   }

   .cloth__content {
      display: none;
   }

   .all__btn {
      width: 100%;
   }

   /* footer__inner */
   .footer__inner {
      flex-direction: column;
   }

   .footer__item {
      width: 100%;
      justify-content: center;
   }

   .footer__contact {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .footer__social__link:first-child {
      margin-left: 0;
   }

   /* .contact__location__title */
   .contact__location__title {
      font-size: 40px;
   }

   .contact__con__blog {
      width: 90%;
   }

   .contact__con__btn {
      width: 100%;
      padding: 18px 0;
   }

   .contact__con__intro {
      flex-direction: column;
   }

   .contact__con__form {
      margin-bottom: 30px;
   }

   .contact__location__title {
      margin-bottom: 20px;
   }

   /* reviews  */
   .reviews {
      margin-top: 100px;
   }

   /*  */
   .nav__menu {
      display: none;
   }

   /* .product */
   .product__item {
      flex-direction: column;
      max-width: 100%;
      max-height: 100%;
      align-items: flex-start;
      margin-top: 0;
   }

   .product__img {
      width: 234px;
      height: 321px;
   }

   .product__total {
      width: 100%;
   }

   .product__blog-respon {
      margin: 0;
      flex-direction: column;
   }

   .product__price__cloth {
      top: 5.7%;
      right: 1%;

      background: #fff;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .product__price {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 28px;
   }

   .product__btns {
      width: 99%;
      margin-bottom: 35px
   }

   .product__btn {
      padding: 14px 21px;
      font-size: 21px;
   }

   .product__img {
      margin-right: 0;
   }

   /* registration  */

   .registration {
      flex-direction: column;
   }

   .registration__item {
      width: 100%;
   }

   .registration__title {
      font-size: 25px;
   }

   .registration__text {
      margin-bottom: 32px;
   }

   .product__img {
      margin-bottom: 25PX;
      width: 100%;
      height: 421px;
      object-fit: cover;
      position: relative;
   }

   .product__price:last-child {
      margin-right: 25px;
   }

   /* popular */
   .popular__add {
      height: 40px;
   }

   .popular__subtitle {
      font-size: 14px;
   }

   /* .price  */
   .price {
      padding-top: 100px;
   }

   /* about  */
   .about {
      margin-top: 100px;
   }

   /* reviews */
   .reviews {
      margin-top: 60px;
   }

   .mobile__menu {
      width: 80%;
   }
}

@media(max-width: 360px) {
   .card__add {
      font-size: 12px;
   }
}


/* ======================================== */

/* Large desktops and laptops */
@media (max-width: 1200px) {
   .about__con__img {
      height: 100%;
   }

   .about__con__img img {
      height: 100%;
   }

   .about__con__group {
      width: 33%;
   }

   .about__con__group.slide-3 {
      width: 50%;
   }

   .about__con__text {
      font-size: 40px;
   }

   .about__con__title {
      font-size: 40px;
   }

   .blog {
      flex-direction: column;
   }

   .blog__ttitle {
      margin-bottom: 50px;
   }

   .blog__item__text {
      font-size: 13px;
   }
}

/* Portrait tablets and medium desktops */
@media (min-width: 200px) and (max-width: 1199px) {
   .about__con__img {
      height: 100%;
   }

   .about__con__img img {
      height: 100%;
      object-fit: cover;
   }

   .about__con__group {
      width: 33%;
   }

   .about__con__text {
      font-size: 40px;
   }

   .about__con__title {
      font-size: 40px;
   }

   .about__con__group-top {
      width: 20%;
   }


   /* SLDIER -3 ABOUT PAGE */
   .about__con__text.slide-3 {
      font-size: 30px;
      width: 45%;
      top: 49%;
      right: -12%;
   }

   .about__con__group {
      width: 57%;
      left: 49%;
   }

   .about__con__group-top {
      width: 17%;
   }
}

/* Portrait tablets and small desktops */
@media(max-width: 991px) {
   .about__con__inner {
      height: 500px;
   }

   .about__con__title {
      font-size: 35px;
   }

   .about__con__text {
      font-size: 30px;
   }

   .about__con__img img {
      object-fit: cover;
   }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   .about__con__group-top {
      display: none;
   }

   .about__con__text {
      font-size: 22px;
   }

   .blog__item {
      width: 48%;
   }


}

/* Landscape phones and smaller */
@media (max-width: 480px) {
   .about__title {
      text-align: center;
   }

   .about__con__group {
      display: none;
   }

   .about__con__text {
      position: relative;
      transform: translate(0, 0);
      top: 0;
      right: 0;
      width: 100%;
   }

   .about__con__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 20px;
   }

   .footer__phone {
      font-size: 22px;
   }

   .blog__item__title {
      font-size: 13px;
   }

   .blog__item__text {
      font-size: 10px;
   }

   .blog__img img {
      height: 215px;
   }

   /* slide 3 */
   .about__con__text.slide-2 {
      left: 0;
      width: 70%;
   }

   .about__con__text.slide-3 {
      width: 100%;
      top: 0;
      left: 0;
      transform: translate(0, 0);
   }

   .about__con__text.slide-4 {
      width: 60%;
      left: 0;
      top: 0;
      transform: translate(0, 0);
   }
}

@media (max-width: 376px) {
   .blog__item {
      width: 100%;
   }
}


/* Portrait tablets and medium desktops */
@media (min-width: 200px) and (max-width: 1259px) {
   .tabs__accordion {
      width: 40%;
   }

   .page_blog {
      flex-direction: column-reverse;
   }

   .page_blog_img {
      width: 100%;
   }

   .page_blog_title_res {
      display: block;
   }

   .page_blog_title {
      display: none;
   }

   .page_blog_content {
      width: 70%;
      margin-top: 13%;
   }
}


/* Portrait tablets and small desktops */
@media(max-width: 991px) {
   .tabs__accordion {
      display: none;
   }

   .filter__action {
      display: flex;
   }

   .filter__accordion {
      display: block;
      width: 100%;
   }

   .tabs {
      justify-content: flex-start;
      align-items: baseline;
   }

   .prodBody {
      margin-left: 0;
      width: 100%;
   }

   .prodNav .ptItem {
      padding: 0;
      margin-right: 15px;
      margin-bottom: 13px;
      line-height: 20px;
      border: none;

   }

   .prod__main__item {
      width: 31%;
   }

   #pTab3 {
      display: none;
   }

   .prodNav .ptItem.active {
      background: #fff;
      color: #000;
   }

   /* popular__add__btns */
   .popular__add__btn {
      padding: 9px 15px;
   }

   .popular__add__text {
      font-size: 14px;
   }

   .popular__count span {
      font-size: 14px;
   }

   .page_blog_content {
      width: 80%;
      margin-top: 23%;
   }

   .page_blog_img {
      height: 350px;
   }

   .page_blog_action {
      width: 35%;
   }

}

/* Landscape phones and portrait tablets */
@media (max-width: 680px) {
   .checkbox__text label {
      font-size: 12px;
   }

   .about__header__title {
      font-size: 40px;
   }

   .prod__main__item {
      width: 32%;
   }

   .popular__img {
      height: 240px;
   }

   .popular__add {
      font-size: 12px;
      height: 40px;
   }

   .popular__add__click {
      height: 40px;
   }

   .popular__add__btn {
      padding: 5px 15px;
   }

   .popular__add__text {
      font-size: 14px;
   }

   .popular__count span {
      font-size: 14px;
   }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
   .footer {
      margin-top: 100px;
   }

   .filter__action {
      width: 90%;
      padding: 11px 0;
      font-size: 14px;
   }

   /* sort */
   .sort .custom-option {
      font-size: 12px;
      line-height: 30px;
   }

   .sort .custom-select-trigger {
      padding: 13px 50px 13px 23px;
      font-size: 14px
   }

   .popular__img_arrow {
      display: none;
   }

   /*  */
   .prod__main__item {
      width: 45%;
   }

   .popular__img {
      height: 210px;
   }

   .popular__count {
      display: flex;
      flex-direction: column;
   }

   .popular__add {
      font-size: 10px;
      height: 34px;
   }

   .popular__add__click {
      height: 34px;
   }


   .pagination {
      flex-direction: column;
   }

   .pogination__btn {
      font-size: 14px;
      width: 90%;
   }

   .about__header__title {
      font-size: 35px;
   }

   .popular__add__btn {
      padding: 1px 10px;
   }

   .popular__add__text {
      font-size: 10px;
   }

   .popular__add__img img {
      width: 20px;
   }

   .collapsible__header::after {
      font-size: 35px;
   }

   .filter__menu {
      width: 80%;
   }

   .page_blog_content {
      width: 100%;
      margin-top: 30%;
   }

   .page_blog_text {
      font-size: 14px;
   }

   .page_blog_action {
      width: 100%;
   }

   .page_blog_title_res {
      font-size: 22px;
      width: 100%;
   }

}

@media (max-width: 350px) {
   .popular__add {
      font-size: 8px;
   }

   .popular__img {
      height: 180px;
   }

   .all__btn {
      padding: 15px 0;
   }

   .price__btn {
      padding: 15px 0;
   }

   .header__phone {
      font-size: 12px;
   }

   .page_blog_text {
      font-size: 10px;
   }

   .page_blog_content {
      margin-top: 45%;
   }
}



/* home page sliders */
@media (min-width: 200px) and (max-width: 1440px) {
   .intro_slide_img-1 {
      width: 60%;
   }

   .intro_slide_img-3 {
      width: 73.5%;
   }

   .intro_slide_three_title {
      width: 61%;
   }

   /* home page slide -2 */
   .intro_slide_img-1.slide-2-1 {
      width: 62%;
      right: 0%;
   }

   /* home page slide -3  */
   .intro_slide_img-1 {
      width: 62%;
   }

   .intro_slide_img-3 {
      left: -8%;
      width: 78.5%;
   }

   /* home page slide -4  */
   .intro_slide_img-1.slide-4-1 {
      height: 103%;
   }

   .intro_slide_img-3.slide-4-3 {
      left: 7%;
   }

   .intro_slide_three_btns.four {
      top: 65%;
   }
}

/* home page sliders */

@media (max-width: 1351px) {

   /* sldie  home page slide -2 */
   .intro_slide_img-1.slide-2-1 {
      width: 70%;
      right: -8%;
      z-index: 3;
   }

   .intro_slide_img-3.slide-2-3 {
      display: none;
   }

   .intro_slide_three_title {
      width: 90%;
   }

   /* slider 3 */

   .intro_slide_img-3 {
      display: none;
   }

   .intro_slide_img-1 {
      width: 70%;
      left: -10%;
   }

   /* .intro_slide_img-1.slide-4-1 */
   .intro_slide_img-1.slide-4-1 {
      right: -17%;
      width: 70%;
   }

   .intro__content.intro_slide_2 {
      margin-left: 80px;
   }

   .intro_slide_three_title.four {
      width: 100%;
   }

   .intro_slide_three_text.four {
      width: 64%;
   }

   .intro_slide_img-2.slide-4-2 {
      width: 35%;
   }

   .intro_slide_three_btns.four {
      top: 65%;
   }

   /* intro_slide_three_text sldie 3 */
   .intro_slide_three_text {
      width: 45%;
   }

   /* intro_slide_img-2.slide-2-2  */
   .intro_slide_img-2.slide-2-2 {
      width: 35%;
   }

}

@media (max-width: 1200px) {
   .intro_slide_img-1.slide-2-1 {
      width: 72%;
   }

   .intro_slide_img-1 {
      width: 72%;
   }
}

@media (max-width: 850px) {

   /* sldier -2  */
   .intro_slide_img-1.slide-2-1 {
      width: 61%;
      bottom: -10%;
   }

   .intro_slide_three_text.two {
      width: 73%;
   }

   .intro_slide_three_title {
      width: 100%;
   }

   /* slider -3  */
   .intro_slide_img-1 {
      bottom: -9%;
      width: 60%;
   }

   .intro_slide_3 {
      margin-right: 60px;
   }

   .intro_slide_three_text {
      width: 70%;
   }

   /* intro_slide_img-1.slide-4-1  */
   .intro_slide_img-1.slide-4-1 {
      bottom: -9%;
      height: 100%;
   }

   .intro_slide_three_title {
      font-size: 35px;
   }

   .intro_slide_three_btns.four {
      left: 10%;
   }

   .intro_slide_img-1.slide-4-1 {
      width: 85%;
      right: -28%;
   }

   .intro_slide_three_text {
      font-size: 16px;
   }
}

@media (max-width: 500px) {

   /* home page slide 2 */
   .intro_slide_img-2.slide-2-2 {
      width: 60%;
   }

   .intro__content.intro_slide_2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-left: 0
   }

   .intro__content.intro_slide_2 {
      width: 100%;
   }

   .intro_slide_three_btn {
      margin-right: 5px;
      margin-top: 0;
   }

   .intro_slide_three_title {
      width: 74%;
      font-size: 25px;
      text-align: center !important;
   }

   .intro_slide_three_text.two {
      margin-top: 10px;
      margin-bottom: 0;
   }

   .intro_slide_img-1.slide-2-1 {
      width: 56%;
      bottom: 0;
   }

   /* home page slide 3 */
   .inntro__inner.intro_inner_3 {
      width: 100%;
   }

   .intro__content.intro_slide_3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
   }

   .intro_slide_three_text {
      text-align: center;
      width: 80%;
      margin-bottom: 25px;
   }

   .intro_slide_img-1 {
      bottom: 0;
      width: 56%;
   }

   /* .intro_slide_img-1.slide-4-1 */
   .intro_slide_img-1.slide-4-1 {
      height: auto;
      width: 56%;
      right: 0;
      bottom: 0;
   }

   .intro_slide_three_title.four {
      text-align: center;
      width: 74%;
   }

   .intro_slide_three_text.four {
      width: 85%;
   }

   .intro_slide_three_btns.four {
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   .intro_slide_three_btn {
      font-size: 15px;
   }
}

@media (min-width: 200px) and (max-width: 400px) {
   .tabs {
      display: flex;
      flex-direction: column-reverse !important;
   }

   .about__con__text.slide-3 {
      font-size: 22px;
   }

   .sort .custom-select-trigger {
      margin-bottom: 20px;
      padding: 13px 78px 13px 55px;
   }

   .sort .custom-select.opened .custom-options {
      margin-top: 0;
   }

}



/* modal media */

@media (max-width: 1451px) {
   .modal__item {
      margin-left: 10px;
   }

   .modal-content {
      width: 50%;
   }

   .modal__item:first-child {
      margin-left: 0px;
   }
}

@media (max-width: 1300px) {
   .modal-content {
      width: 55%;
   }
}

@media (max-width: 1180px) {
   .modal-content {
      width: 60%;
   }
}

@media (max-width: 1180px) {
   .modal-content {
      width: 60%;
   }

   .modal_group {
      width: 85%;
   }

   .modal__img {
      height: 250px;
   }

   .modal__text {
      font-size: 14px;
   }

   .modal_sub_title {
      font-size: 15px;
   }

   .modal_textile {
      font-size: 14px;
      margin-left: 20px;
   }

   .modal_dimensiona {
      font-size: 14px;
      margin-left: 20px;
   }

   .close_action_modal img {
      width: 25px;
   }
}

@media (max-width: 768px) {
   .modal_textile {
      font-size: 13px;
   }

   .modal-content {
      width: 65%;
   }
}

@media (max-width: 668px) {
   .modal__inner {
      margin: 0 auto;
      flex-direction: column;
   }

   .modal__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
   }
}


@media (max-width: 500px) {
   .modal__inner {
      margin: 0 auto;
      flex-direction: column;
   }

   .modal__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
   }

   .modal-content {
      width: 95%;
      top: 42%;
   }

   .modal__text {
      font-size: 12px;
   }

   .modal__img {
      height: 210px;
      object-fit: contain;
   }

   .popular__add.modal__add {
      margin-bottom: 15px;
   }

   .modal_count {
      flex-direction: row;
   }
}