@media only screen and (max-width: 1441px) {

   /* links */
   .link__item {
      font-size: 14px;
   }

   /* search */
   .search__send__btn {
      font-size: 13px;
   }

   /* popular */

   .popular__item {
      width: 300px;
   }

   .popular__img {
      object-fit: contain;
      width: 300px;
   }
}


@media only screen and (max-width: 1201px) {

   /* links */
   .link__item {
      font-size: 14px;
      margin-left: 20px;
   }

   .link__item:first-child {
      margin-left: 20px;
   }

   /* search */
   .search__send__btn {
      font-size: 11px;
      padding: 15px 15px;
   }

   .search__box {
      width: 50px;
      height: 50px;
   }

   /* popular */

   .popular__item {
      width: 300px;
      padding: 0;
   }

   .popular__img {
      object-fit: contain;
      width: 300px;
   }

   .popular__count span {
      font-size: 16px;
   }

   .popular__title {
      font-size: 45px;
   }

   /* intro */
   .intro__title {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 35px;
   }

   .intro__text {
      line-height: 58px;
      font-size: 35px;
   }

   .intro__btn {
      padding: 15px 60px;
   }

   /* ..clients */
   .clients__item {
      width: 25%;
   }

   .clients__content {
      margin-top: 60px;
      align-items: inherit;
   }

   .clients__text {
      font-size: 15px;
   }

   .clinents__bg img {
      width: 100%;
   }

   .collapsible__header {
      font-size: 35px;
      padding: 20px 0;
   }

   /* about */
   .about__title {
      margin-bottom: 45px;
      font-size: 35px;
   }

   /* accordion */
   .accordion {
      width: 550px;
   }

   /* price */
   .photo {
      height: 500px;
   }

   .photo__bg {
      height: 100%;
   }

   .price__content {
      width: 550px;
   }

   .price__btn {
      width: 160px;
      height: 160px;
   }

   .price__title {
      font-size: 45px;
      line-height: 65px;
      width: 35%;
   }

   /* photo */

   .photo__group {
      width: 400px;
      right: -5%;
   }

   /* property */
   .property {
      margin: 40px 0;
   }

   /* .cloth */
   .cloth__title {
      font-size: 45PX;
   }

   .cloth__text {
      font-size: 18px;
   }

   .cloth__content {
      width: 45%;
   }

   /* reviews */
   .reviews__text {
      margin-bottom: 40PX;
      font-size: 14px;
   }

   .reviews__name {
      font-size: 16px;
   }

   /* form */

   .contact__form input {
      padding: 20px;
   }

   .contact__form textarea {
      padding: 20px;
   }

   /* footer */
   .footer__phone {
      font-size: 28px;
   }

   .swiper-slide.reviews--slider {
      width: 100%;
   }

   .swiper-slide.my__sldier {
      width: 100%;
   }

   /* collapsible */
   .collapsible__inner {
      flex-direction: column;
   }

   .collapsible__item {
      width: 100%;
   }

   .collapsible__text {
      margin-bottom: 25px;
   }

   .collapsible__img {
      margin-bottom: 0px;
   }

   /* all */
   .all__btn {
      font-size: 16px;
      padding: 18px 45px;
   }

   /* footer  */
   .footer__btn {
      font-size: 13px;
      padding: 16px 40;
   }
}

@media only screen and (max-width: 836px) {
   .container {
      padding: 0 40px;
   }

   /* intro */

   .intro__img {
      display: none;
   }

   .inntro__inner {
      /* display: flex; */
      height: 500px;
      position: relative;
      top: 50%;
      /* align-items: center; */
      right: 50%;
      transform: translate(50%, -8%);
   }

   /* links */
   .links {
      display: none;
   }

   /* header */
   .header__title {
      font-size: 18px;
   }

   .header__phone {
      font-size: 16px;
   }

   /* custom  */
   .custom-select-trigger {
      padding: 5.5px 26px 5.5px 11px;
   }

   .custom-option {
      padding: 0 14px;
      line-height: 39px;
      font-size: 15px;
   }

   /* clients */
   .clients__item {
      width: 30%;
   }

   .clients__content {
      margin-top: 40px;
   }

   .clinents__bg {
      width: 200px;
   }

   .clients__title {
      font-size: 34px;
   }

   .clients__text {
      font-size: 14px;
   }

   /* .about */
   .about {
      flex-direction: column;
   }

   /* acaccordion  */
   .accordion {
      width: 100%;
   }

   /* pricse */
   .price {
      flex-direction: column;
   }

   .price__content {
      width: 100%;
   }

   .price__title {
      font-size: 35px;
      line-height: 50px;
      width: 100%;
   }

   .price__btn {
      margin-right: 50px;
      width: 140px;
      height: 140px;
   }

   .price__btn a {
      font-size: 20px;
   }

   /* photo */

   .photo {
      height: 400px;
   }

   .photo__group {
      width: 250px;
      right: -4%;
      bottom: -15%;
   }

   /* popular */
   .popular__content {
      padding-bottom: 40px;
      position: relative;
      justify-content: space-between;
   }

   .popular__title {
      font-size: 40px;
   }

   .popular {
      margin-top: 80px;
   }

   .popular__add {
      opacity: 1;
      visibility: visible;
   }

   .popular__img {
      height: auto;
   }

   /* contact */
   .contact__form input {
      padding: 12px;
   }

   .contact__form textarea {
      height: 90px;
   }

   .contact__img {
      width: 185px;
      height: auto;
   }

   /* property */
   .property {
      margin: 30px 0;
   }

   /* slder */
   .slider__btns {
      right: 0;
      top: 0;
      position: absolute;
      justify-content: flex-end;
      margin-bottom: 30px;
   }

   /* .cloth */
   .cloth {
      position: relative;
      flex-direction: column;
   }

   .cloth__box {
      display: none;
   }

   .cloth__content {
      margin-right: 0;
      width: 100%;
      /* position: absolute; */
      width: 65%;
      margin-bottom: 20px;
      top: 0;
   }

   .cloth__text {
      border: 0;
      display: inline;
      font-size: 14px;
      margin-right: 10px;
   }

   .cloth__title {
      font-size: 30PX;
   }

   .cloth__slider {
      width: 100%;
   }


   /* contact */

   .contact {
      flex-direction: column;

   }

   .contact__img {
      display: none;
   }

   .contact__form {
      width: 100%;
   }

   .contact__form input {
      padding: 20px 30px;
   }

   .contact__form textarea {
      padding: 30px;
      height: 150px;
   }

   /* allbtn */
   .all__btn {
      padding: 20px 66px;
   }

   /* footer */
   .footer__item {
      width: 50%;
   }

   .footer__item-logo {
      display: none;
   }

   .footer {
      padding: 25px 0px 35px 0;
   }

   .footer__logo-media {
      display: block;
      margin-bottom: 15px;
   }

   .footer__end {
      margin-top: 30px;
   }

}


/* @media only screen and (max-width: 836px) */

@media only screen and (max-width: 836px) {
   .container {
      padding: 0px 25px;
   }

   /* header */
   .header__title {
      display: none;
   }

   /* .intro */
   .intro__content {
      width: 80%;
   }

   .intro__title {
      margin-top: 20px;
      font-size: 30px;
      padding: 7px;
      text-align: center;
   }

   .intro__text {
      text-align: center;
      font-size: 30px;
      line-height: 1.4;
   }

   .intro__text p {
      margin-left: 0;
   }

   .intro__btn {
      display: inline-block;
      margin-left: 0;
      margin-bottom: 10px;
      width: 100%;
      text-align: center;
   }

   /* search  */
   .search__icon {
      display: none;
   }

   /* .clients */

   .clients {
      position: relative;
   }

   .clinents__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100px;
   }

   .clients__content {
      flex-wrap: wrap;
   }

   .clients__item {
      width: 100%;
   }

   .clients__text {
      text-align: center;
      width: 70%;
      font-size: 18px;
   }

   /* about */
   .about__content img {
      display: none;
   }

   /* collapsible */
   .collapsible__header p {
      font-size: 18px;
   }

   /*price */
   .price__content {
      flex-direction: column;
   }

   .price__title {
      text-align: center;
   }

   .price__btn {
      margin-right: 0;
      margin-bottom: 20px;
      margin-top: 8px;
   }

   /* ..slider__btns */
   .slider__btns {
      display: none;
   }

   .swiper-slide {
      display: flex;
      justify-content: center;
   }

   /* popular */
   .popular__title {
      width: 100%;
      margin-right: 0;
      text-align: center;
   }

   /* property */
   .property__box {
      margin: 0 auto;
   }

   /* cloth */
   .cloth__content {
      display: none;
   }

   .all__btn {
      width: 100%;
   }

   /* footer__inner */
   .footer__inner {
      flex-direction: column;
   }

   .footer__item {
      width: 100%;
      justify-content: center;
   }
   .footer__contact {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}