body {
   margin: 0;
   padding: 0;
}

p {
   margin: 0;
}

a {
   text-decoration: none !important;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

.container {
   max-width: 100%;
   width: 100%;
   padding: 0px 80px;
}

@font-face {
   font-family: 'miama';
   src: url('./fonts/miama.otf');
}

@font-face {
   font-family: 'Inter';
   src: url('./fonts/Inter[slnt\,wght].ttf');
}

@font-face {
   font-family: 'Prata';
   src: url('./fonts/prata/Prata-Regular.ttf');
}

/* scroll bar
================ */
::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
   background: transparent;
   /* box-shadow: 0 0 2px rgb(0, 0, 0, 2) inset; */
}

::-webkit-scrollbar-thumb {
   background: #ececec;
   border-radius: 8px;
   border: 1px solid #9c9c9c;
}


/* header===== */


.header {
   padding: 5px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__contact {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header__title {
   font-family: 'miama';
   font-style: italic;
   font-weight: 400;
   font-size: 25px;
   line-height: 128.5%;
   color: #2E7E7C;
}

.header__phone {
   margin-left: 15px;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #2E7E7C;
   transition: .2s ease-in;
}

.header__phone:hover {
   color: #2C2C2C;
}


/* section */

.section__intro {
   position: relative;
   background: linear-gradient(106.44deg, #155553 12.26%, #358C8A 88.92%);
}

/* select  */


select.select-wrap {
   display: none;
}

.select-wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
}

.custom-select-wrapper {
   position: relative;
   display: inline-block;
   user-select: none;
}

.custom-select-wrapper select {
   display: none;
}

.custom-select {
   position: relative;
   z-index: 3;
   display: inline-block;
}

.custom-select-trigger {
   position: relative;
   display: block;
   padding: 7.5px 31px 7.5px 17px;
   cursor: pointer;
   z-index: 2;
   border: 1px solid #2E7E7C;
   background: #fff;
   border-radius: 30px;

   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #2E7E7C;

   transition: .2s ease-in;
}

.custom-select-trigger:hover {
   background-color: #2E7E7C;
   color: #fff;
   border: transparent
}

.custom-select-trigger:after {
   position: absolute;
   display: block;
   content: '';
   width: 5px;
   height: 5px;
   top: 50%;
   right: 14px;
   margin-top: -1px;
   border-bottom: 1px solid #2C2C2C;
   border-right: 1px solid #2C2C2C;
   transform: rotate(45deg) translateY(-50%);
   transition: all 0.3s ease-in-out;
   transform-origin: 50% 0;
}

.custom-select-trigger:hover.custom-select-trigger:after {
   border-bottom: 1px solid #fff;
   border-right: 1px solid #fff;
}

.custom-select.opened .custom-select-trigger:after {
   margin-top: 3px;
   transform: rotate(-135deg) translateY(-50%);
}

.custom-select.opened .custom-options {
   opacity: 1;
   visibility: visible;
   pointer-events: all;
   transform: translateY(0);
}

.custom-option {
   position: relative;
   display: block;
   padding: 0 18px;
   font-size: 18px;
   line-height: 47px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   z-index: 1;
}

.custom-option:hover {
   background: #2E7E7C;
   color: #fff;
   border-radius: 20px;
}

.custom-options {
   text-transform: uppercase;
   font-size: 15px;
   position: absolute;
   display: block;
   top: 100%;
   left: 0;
   right: 0;
   min-width: 100%;

   border: 1px solid #2E7E7C;
   border-radius: 20px;

   background: #fff;
   transition: all 0.3s ease-in-out;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transform: translateY(-15px);

   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.5%;
   color: #2E7E7C;
}

/* intro */
.section__slider {
   background: linear-gradient(106.44deg, #155553 12.26%, #358C8A 88.92%);
}

.intro {
   padding: 5px 0;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.inntro__inner {
   display: flex;
   height: 618px;
   justify-content: center;
   align-items: center;
}

.intro__content {
   width: 65%;
   z-index: 3;
}

.intro__title {
   display: inline;
   padding: 10px 26.5px;
   background: #397F7C;
   border-radius: 53px;
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 140%;
   text-transform: uppercase;
   color: #FFFFFF;
}

.intro__text {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 70px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 30PX;
}

.intro__text p {
   margin-left: 95px;
}

.intro__img {
   right: 0;
   top: 0;
   position: absolute;
}

.intro__btn {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #F4F7FB;
   display: inline;
   padding: 21.5px 93px;

   border: 1px solid #F4F7FB;
   box-sizing: border-box;
   border-radius: 36px;
   margin-right: 40px;

   transition: all .2s ease-in;
   text-decoration: none !important;
}

.intro__btn:last-child {
   margin-right: 0;
}

.intro__btn:hover {
   background: #fff;
   color: #2E7E7C !important;
}


/* links */

.links {
   display: flex;
   align-items: center;
}

.link__item {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #F4F7FB;
   margin-left: 43px;
   transition: .2s ease-in;
}

.link__item:hover {
   color: #83AEAD;
}

.link__item:first-child {
   margin-left: 0;
}

/* nav  bar*/
.menu {
   position: relative;
}

/* .nav__inner-bg {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0,0,0,.5);
   z-index: 0;
 }
  */

.nav__inner {
   /* transform: translateY(-100%); */
   width: 100%;
   position: absolute;
   z-index: 3;
   top: 0%;
   left: 0;
   transition: all .3s ease-in;
   visibility: hidden;
   opacity: 0;
}

.nav__content {
   padding: 15px 0;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

.nav__inner-cloes {
   position: absolute;
   top: 23px;
   right: 0;
   z-index: 2;
   color: #2E7E7C;
   font-size: 25px;
   cursor: pointer;
}

.nav__item {
   width: 20%;
   margin-right: 20px;
   margin-bottom: 15px;
}

.nav__item-col {
   width: 23%;
   padding-bottom: 15px;
}

.nav__text-row {
   display: flex;
}

.nav__text-col {
   margin-right: 30px;
}

.nav__text-col:last-child {
   margin-right: 0;
}

.nav__inner.active {
   /* transform: translateY(0%); */
   top: 100%;
   opacity: 1;
   visibility: visible;
   background-color: #fff;
}

.nav__title {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 23px;
   line-height: 140%;
   text-transform: uppercase;
   color: #2E7E7C;
   margin-bottom: 11px;
}

.nav__text {
   cursor: pointer;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 142%;
   color: rgba(43, 43, 43, 0.75);
   margin-bottom: 5px;
   transition: color .2s ease-in;
}

.nav__text:hover {
   color: #145553;
}

.nav__toggle {
   width: 43px;
   padding: 10px 0;
   position: absolute;
   font-size: 0px;
   color: transparent;
   border: 0;
   background: none;
   cursor: pointer;
   display: block;
   z-index: 1;
   top: 50%;
   left: 50%;
   transform: translate(-0%, -50%);
}

.nav__toggle-item {
   display: block;
   width: 100%;
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   transition: background .2s linear;
}

.nav__toggle-item::before, .nav__toggle-item::after {
   content: '';
   width: 100%;
   height: 3px;
   background-color: #fff;
   position: absolute;
   left: 0;
   z-index: 1;
   transition: transform .2s linear;
}

.nav__toggle-item::before {
   top: -14px;
}

.nav__toggle-item::after {
   bottom: -14px;
}

.nav__toggle.active {
   background: none;
}

.nav__toggle.active .nav__toggle-item {
   background: none !important
}

.nav__toggle.active .nav__toggle-item::before {
   transform-origin: left top;
   transform: rotate(45deg) translateX(-2px);
}

.nav__toggle.active .nav__toggle-item::after {
   transform-origin: left bottom;
   transform: rotate(-45deg) translateX(0px);
}



.nav__box__inner {
   flex-direction: column;
   width: 58%;
   display: flex;
   background-color: #F4F7FB;
   padding: 23px;
   position: absolute;
   top: 100%;
   left: 30%;
   border-radius: 5px;
   z-index: 3;
   opacity: 0;
   visibility: hidden;
   transition: all .3s ease-in;
   z-index: -111;
}

.nav__box__inner.active {
   opacity: 1;
   visibility: visible;
   z-index: 3;
}

.nav__menu {
   display: none;
}

.nav__box__inner a {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 176%;
   text-transform: uppercase;
   color: #2E7E7C;
}

/* search */

.my-search {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.search__inner {
   position: absolute;
   width: 100%;
   top: 100%;
   height: 242px;
   left: 0;
   z-index: 2;
   opacity: 0;
   visibility: hidden;
   background-color: #fff;
   transition: all .2s linear;
}

.search__inner.active {
   display: block;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 1;
   visibility: visible;
}

.searchbox {
   position: relative;
   display: inline-block;
}

.searchbox input:focus {
   outline: none;
   /*by default,input shows an outline on focus */
}

.searchbox input {
   z-index: 0;
   padding-right: 200px;
   margin-top: 20px;
   width: 100%;
   height: 40px;
   background: transparent;
   border: none;
   border-bottom: 2px solid #A0A0A0;
}

form {
   display: inline-block;
}

#closeid {
   display: block;
}

.fa-search {
   position: absolute;
   top: 55%;
   left: 5%;
   color: #2E7E7C;
}

.close {
   position: absolute;
   top: 50%;
   right: 5%;
   color: #2E7E7C;
   border: none;
   padding: 0;
}

.search {
   color: #2E7E7C;
   font-weight: 400;
   padding-left: 50px;
   font-size: 18px;
   z-index: 3;

}

.fa-times {
   position: absolute;
   top: 30%;
   right: 5%;
}

.search__send__btn {
   padding: 15px 28px;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #145553;

   background: #F4F7FB;
   border: 1px solid #D1E0E4;
   box-sizing: border-box;
   border-radius: 31px;
   transition: .2s ease-in;
}

.search__send__btn:hover {
   border: 1px solid #398E8B;
}

/*  */

/*  */
.search__icon {
   cursor: pointer;
   color: #F4F7FB;
   font-size: 24px;
   margin-left: 35px;
}

.search__box {
   cursor: pointer;
   margin-left: 30px;
   width: 62px;
   height: 62px;
   border-radius: 50%;
   background: #fff;
   position: relative;
   transition: .2s ease-in;
   border: 1px solid rgba(38, 114, 112, 0.17);

}

.search__box:hover {
   border: 1px solid rgba(38, 114, 112, 0.99);
}

.search__box:hover .search__count {
   color: #2E7E7C;
   background-color: #fff;
   border: 1px solid #2E7E7C;
}

.search__box img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.search__count {
   transition: .2s ease-in;
   width: 33px;
   height: 33px;
   position: absolute;
   top: -2px;
   right: -15px;
   z-index: 2;
   background-color: #358D8A;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;

   border: 2px solid #fff;
}



/* swiper slide */

.swiper-pagination-bullet.swiper-pagination-bullet-active {
   background-color: #fff;
}

.swiper-button-next, .swiper-button-prev {
   color: #2E7E7C;
}

.my__slide__prev, .my__slide__next {
   width: 64px;
   height: 64px;
   font-size: 25px;
   border-radius: 50%;
   color: #2E7E7C;
   border: 1px solid #2E7E7C;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all .2s ease-in-out;
}

.my__slide__prev:hover, .my__slide__next:hover {
   background-color: #145553;
}

.my__slide__prev {
   margin-right: 60px;
}

.slider__btns {
   display: flex;
}

/* 
.swiper {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
} */


/* clients */

.clients {
   display: flex;
}

.clients__content {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
}

.clients__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 28.33333%;
}

.clients__title {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 140%;
   align-items: center;
   text-transform: uppercase;
   color: #2E7E7C;
}

.clients__text {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 176%;
   text-align: center;
   text-transform: uppercase;
   color: #2E7E7C;
}

/* about */

.about {
   margin-top: 70px;
   display: flex;
   justify-content: space-between;
   position: relative;
}

.about__title {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 140%;
   text-transform: uppercase;
   color: #2E7E7C;
   margin-bottom: 60px;
}

/* accordion */

/*  */
.accordion {
   width: 774px;
   overflow: hidden;
   /* Horizontally and vertically centering the accordion */
   /* transform: translate(-50%, -50%); */
}

.accordion__collapsible {
   border-radius: 3px;
   border-top: 1px solid rgba(46, 126, 124, 0.25);
}

.accordion__collapsible:last-child {
   border-bottom: 1px solid rgba(46, 126, 124, 0.25);
}

.accordion__collapsible:not(:last-child) {
   border-bottom: none;
}

.collapsible__header {
   background-color: #Fff;
   display: flex;
   justify-content: space-between;
   padding: 35px 0;
   cursor: pointer;


   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 140%;

   text-transform: uppercase;
   color: #2E7E7C;
}

.collapsible__header::after {
   content: '+';
   position: relative;
   right: 10px;
}

.collapsible__content {
   max-height: 0;
   visibility: hidden;
   opacity: 0;
   /* overflow: hidden; */
   transition: all .2s ease-in;
}

.collapsible__inner {
   display: flex;
}

.collapsible__item {
   width: 47%;
   margin-bottom: 10px;
   margin-right: 20px;
}

.collapsible__title {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 500;
   font-size: 18px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #2E7E7C;
   margin-bottom: 7px;
}


.collapsible__text {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.5%;
   color: #3C3C3C;
}

.collapsible__img {
   width: 100%;
   height: 375px;
   margin-bottom: 50px;

}

.collapsible__img img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.collapsible__btn {
   display: inline-block;
   margin-bottom: 30px !important;
}

.collapsible__item ul li, .collapsible__item ol li {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 500;
   font-size: 18px;
   line-height: 128.5%;
   color: #2E7E7C;
   margin-bottom: 20px;
}

.collapsible--open .collapsible__header::after {
   content: '-';
}

.collapsible--open .collapsible__content {
   max-height: 100%;
   visibility: visible;
   opacity: 1;
}



/* Content styles - To make inner content look better */
.collapsible__header p {
   font-size: medium;
}

.collapsible__content p {
   font-size: small;
   margin: 10px;
}


/* Price */

.price {
   padding-top: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.price__content {
   width: 769px;
   padding: 8px 0;
   display: flex;
   align-items: center;

   border-top: 1px solid rgba(46, 126, 124, 0.25);
   border-bottom: 1px solid rgba(46, 126, 124, 0.25);
}

.price__title {
   width: 40%;
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 70px;
   text-transform: uppercase;
   color: #2E7E7C;
}

.price__btn {
   display: inline-block;
   width: 195px;
   height: 195px;
   border: 1px solid #2E7E7C;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all .2s linear;
   cursor: pointer;
   margin-right: 80px;
}

.price__btn a {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 140%;
   display: flex;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #2E7E7C;
}

.price__btn:hover {
   background-color: #2E7E7C;
}

.price__btn:hover.price__btn a {
   color: #fff;
}

.price__sub {
   display: flex;
}

.price__subtitle {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #2E7E7C;
}

.price__text {
   margin-top: 17px;
   font-family: 'Inter';
   margin-left: 40px;
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none !important;
   transition: .2s ease-out;
}

.price__text:hover {
   color: #2E7E7C;
}

.price__text:first-child {
   margin-left: 0;
}

/* photo
 */

.photo {
   padding-top: 45px;
   width: 100%;
   height: 688px;
   position: relative;
}

.photo__bg {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.photo__group {
   position: absolute;
   bottom: -19%;
   right: -4%;
   z-index: 2;
}


/* popular */
.popular {
   position: relative;
   margin-top: 150px;
}

.popular__content {
   display: flex;
   align-items: end;
   padding-bottom: 50px;
}

.popular__item {
   padding: 20px 0;
   width: 320px;
   height: 100%;
   cursor: pointer;
}

.popular__title {
   width: 40%;
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 120%;
   text-transform: uppercase;
   color: #2E7E7C;
   margin-right: 50px;
}

.popular__img {
   width: 320px;
   height: 360px;
}

.popular__subtitle {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 20px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #000000;
   margin: 10px 0;
}

.popular__count {
   display: flex;
   justify-content: space-between;
}

.my__slide {
   width: 335px;
}

.popular__count {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.5%;
   color: #2E7E7C;
   margin-bottom: 5px;
}

.popular__count span {
   font-size: 18px;
   text-transform: uppercase;
   color: #000000;
}

.popular__add {
   transition: opacity .2s ease-in;
   margin-top: 20px;
   width: 100%;
   height: 50px;
   background: #2E7E7C;
   border-radius: 36px;

   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   visibility: hidden;
}

.popular__add.active {
   display: none
}

.popular__add__click {
   transition: opacity .2s ease-in;
   margin-top: 20px;
   width: 100%;
   height: 50px;
   background: #2E7E7C;
   border-radius: 36px;

   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #FFFFFF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 3px;
   display: none;
}

.popular__add__img {
   margin-right: 5px;
}

.popular__add__click.active {
   display: flex;
}

.popular__item:hover .popular__add {
   opacity: 1;
   visibility: visible;
}

.popular__add__btns {
   display: flex;
}

.popular__add__text {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #FFFFFF;
}

.popular__add__btn {
   display: block;
   padding: 10px 22px;
   border: 1px solid #fff;
   cursor: pointer;
   transition: .2s ease-out;
}

.popular__add__btn:hover {
   background: #fff;
   color: #2E7E7C;
}

.popular__add__btn--remove {
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
}

.popular__add__btn--add {
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
}


/* property */
.property {
   margin: 80px 0;
}

.property__box {
   display: block;
   justify-content: center;
   border-radius: 50%;
   width: 165px;
   height: 165px;
   border: 1px solid #2E7E7C;

   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 140%;

   display: flex;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #2E7E7C;

   transition: .2s ease-out;
}

.property__box:hover {
   background-color: #2E7E7C;
   color: #fff;
}

/* cloth */

.cloth {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.accardion--cloth {
   width: 100%;
}

.cloth__slider {
   width: 55%;
}

.cloth__content {
   width: 30%;
   margin-right: 66px;
}

.cloth__title {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 55px;
   line-height: 140%;
   text-transform: uppercase;
   color: #2E7E7C;
}

.cloth__text {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 20px;
   line-height: 140%;
   text-transform: uppercase;
   color: rgba(0, 0, 0, 0.51);
   padding: 19px 0;
   border-bottom: 1px solid rgba(46, 126, 124, 0.25);
}

.cloth__text:first-child {
   border-top: 1px solid rgba(46, 126, 124, 0.25);
}

.cloth__box {
   margin-top: 50px;
}


/* 
reviews */

.reviews {
   margin-top: 150px;
}

.swiper-slide.reviews--slider {
   /* width: 33.33333% !important; */
   margin-right: 0 !important;
}

.reviews__item {
   padding: 30px 30px 0 30px;
   border: 1px solid #CADEDE;
}

.reviews__inner {
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
   align-items: center;
}

.reviews__text {
   margin-bottom: 90px;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 15px;
   line-height: 140%;
   color: rgba(0, 0, 0, 0.73);
}

.reviews__star {
   color: #FBE94C;
}

.reviews__name {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 140%;
   color: #2E7E7C;
}

/* contact */
.contact {
   display: flex;
   justify-content: space-between;
}

.contact__content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.contact__img {
   width: 241px;
   height: 282px;
}

.contact__form {
   width: 55%;
}

.contact__form input {
   outline-color: #2E7E7C;
   padding: 26px 49px;
   width: 100%;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 20px;
   line-height: 140%;
   color: rgba(0, 0, 0, 0.35);
   background: #F4F7FB;
   border-radius: 50px;
   border: none;
}

.contact__form textarea {
   outline-color: #2E7E7C;
   width: 100%;
   background: #F4F7FB;
   border-radius: 40px;
   border: none;
   height: 130px;
   padding: 21px 49px;
}

.all__btn {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #2E7E7C;
   margin-top: 22px;
   padding: 21px 66px;
   border: none;
   border-radius: 36px;
   transition: all .2s ease-out;
}

.all__btn:hover {
   background-color: #5FA4A2;
   color: #fff;
}

/* footer */

.footer {
   position: relative;
   margin-top: 191px;
   padding: 74px 0px 45px 0;
   background: linear-gradient(106.44deg, #155553 12.26%, #358C8A 88.92%);
}

.footer__inner {
   display: flex;
   justify-content: space-between;
   position: relative;
   z-index: 2;
}

.footer__item {
   width: 33.33333%;
   display: flex;

}

.footer__blog {
   display: flex;
   flex-direction: column;
   margin-left: 50PX;
}

.footer__blog:first-child {
   margin-left: 0;
}

.footer__title {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 500;
   font-size: 18px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 13px;
}

.footer__text {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 300;
   font-size: 15px;
   line-height: 128.5%;
   color: #FFFFFF;
   margin-bottom: 12px;
   transition: .2s ease-in;
   cursor: pointer;
}

.footer__text:hover {
   color: rgba(255, 255, 255, 0.45);
}

.footer__contact {
   text-align: end;

}

.footer__logo {
   margin: 0 auto;
}

.footer__logo-media {
   display: none;
}

.footer__phone {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 30px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #FFFFFF;
   transition: .2s ease-in-out;
}

.footer__phone:hover {
   color: rgba(255, 255, 255, 0.45);
}

.footer__mail {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.5%;
   color: #FFFFFF;
   margin-top: 7px;
   transition: .2s ease-in-out;
}

.footer__mail:hover {
   color: rgba(255, 255, 255, 0.45);
}

.footer__social {
   display: flex;
   justify-content: end;
   align-items: center;
   margin-top: 39px;
   margin-bottom: 50px;
}

.footer__social__link {
   display: inline;
   width: 52px;
   background: linear-gradient(0deg, #F4F7FB, #F4F7FB), radial-gradient(92.18% 99.11% at 26.56% 107.7%, #FFDD55 0%, #FFDD55 10%, #FF543E 50%, #C837AB 100%);
   border-radius: 32.5px;
   margin-left: 15px;
   height: 52px;
   position: relative;
}

.footer__social__link i {
   color: #338986;
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
   font-size: 25px;
}

.footer__social__link:first-child {
   margin-left: 0;
}


.footer__btn {
   display: inline-block;
   font-family: 'Inter';
   padding: 18.5px 42.5px;
   font-style: italic;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.5%;
   /* or 19px */
   text-transform: uppercase;
   color: #145553;

   background: #F4F7FB;
   border: 1px solid #2E7E7C;
   box-sizing: border-box;
   border-radius: 31px;
}

.footer__btn:hover {
   border: 1px solid #145553;
}

.footer__end {
   text-align: center;

   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.5%;
   /* or 19px */

   text-transform: uppercase;

   color: rgba(255, 255, 255, 0.75);
}

.footer__bg {
   position: absolute;
   top: -38px;
   right: 0;
   z-index: 0;
}

/* select */
/* aboyt +=========================== */
.about__header__title {
   font-family: 'prata';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 140%;
   text-transform: uppercase;
   color: #2E7E7C;
   margin-top: 100px;
}



/* contact__con */
.contact__con {
   padding: 58px 0;
   background: linear-gradient(106.44deg, #155553 12.26%, #358C8A 88.92%);
}

.contact__con__inner {
   display: flex;
   border-bottom: 1px solid rgba(244, 247, 251, 0.17);
   border-top: 1px solid rgba(244, 247, 251, 0.17);
}

.contact__con__item {
   margin-top: 62px;
   width: 50%;
}

.contact__con__blog {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;

}

.contact__con__form input {
   padding: 17px 49px;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 20px;
   line-height: 140%;
   color: rgba(0, 0, 0, 0.35);
   width: 100%;

   background: #F4F7FB;
   border-radius: 50px;
   border: none;
   outline-color: #2E7E7C;
   margin-top: 29px;
}

.contact__con__title {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 140%;
   text-transform: uppercase;
   color: #FFFFFF;
}

.contact__con__subtitle {
   margin-top: 22px;
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 195.5%;
   text-transform: uppercase;
   color: #FFFFFF;
}

.contact__con__btn {
   display: inline-block;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   text-transform: uppercase;
   color: #145553;
   background: #F4F7FB;
   border-radius: 36px;
   width: 60%;
   margin-top: 26px;
   padding: 24px 0;
   text-align: center;
   margin-bottom: 134px;
}

.contact__blog__social {
   display: flex;
   align-items: center;
   margin-top: 39px;
   margin-bottom: 50px;
}

.contact__blog__title {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 195.5%;
   text-transform: uppercase;
   color: #FFFFFF;
}

.contact__blog__tel {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   color: #FFFFFF;
   display: inline;
   transition: .2s ease-in;
}

.contact__blog__loc:hover {
   color: rgba(255, 255, 255, 0.45);

}

.contact__blog__tel:first-child {
   margin-bottom: 0;
}

.contact__blog__tel:hover {
   color: rgba(255, 255, 255, 0.45);
}


.contact__blog__loc {
   width: 49%;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   color: #FFFFFF;
   transition: color .2s ease-in;
}

.contact__location {
   margin-top: 100px;
   display: flex;
   justify-content: space-between;

}

.contact__location__title {
   width: 30%;
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 55px;
   line-height: 140%;
   text-transform: uppercase;
   color: #2E7E7C;
}

.contact__maps {
   width: 54%;
}



/* tabs */
.tabs {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.tabs__menu {
   display: flex;
}

.tabs__accordion {
   width: 25%;
}

.prodNav {
   width: 50%;
   font-size: 12px;
   background: transparent;
   border-radius: 20px;
   overflow: hidden;
   display: inline-block;
   vertical-align: middle;
   margin: 50px 0 20px;
   line-height: 1.1;
}

.prodNav .ptItem {
   padding: 9px 40px;
   margin-right: 15px;
   margin-bottom: 13px;
   line-height: 20px;
   border-radius: 20px;
   border: 1px solid rgba(46, 126, 124, 0.25);
   font-weight: 500;
   cursor: pointer;
   display: inline-block;
   vertical-align: middle;
   transition: all 0.3s ease-in-out;


   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.5%;
   color: #000000;
}

.prodNav .ptItem.active,
.prodNav .ptItem:hover {
   background: #652796;
   border-color: #652796;
   color: #ffffff;
}

.prodBody {
   width: 75%;
   /* border: 1px solid #c1c1c1; */
   margin-left: 20px;
   border-radius: 5px;
}

.prodMain {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   opacity: 0;
   visibility: hidden;
   color: #ffffff;
}

.prodMain.active {
   opacity: 1;
   visibility: visible;
}

.prod__main__item {
   padding: 0;
   margin-bottom: 30PX;
}

/* #pTab1C {
   background: #343bbf;
}

#pTab2C {
   background: #f06f24;
}

#pTab3C {
   background: #249ef0;
} */

/* select */
.catalog__select {
   width: 20%;
   margin-bottom: 30px;
   height: 63px;
   border-radius: 5rem;
   padding-left: 15px;
   border: 1px solid rgba(46, 126, 124, 0.25);

   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   color: #000000;
   outline-color: #145553;
}


select {
   appearance: none;
   -webkit-appearance: none;
   font: inherit;
   font-size: inherit;
   font-weight: 400;
   /* opinionated design defaults */
   block-size: 2.75rem;
   inline-size: 100%;

   background-color: #fff;
   color: #000;
   padding-inline-start: .5rem;
   /* compensate for arrow icon, so text doesn't overlap it */
   padding-inline-end: 2rem;
   /* arrow icon */
   background-image:
      conic-gradient(from 45deg,
         transparent 0% 25%,
         transparent 0% 75%,
         currentColor 0%);
   background-size: 12px 12px;
   background-position: right 1rem top calc(50% + 4px);
   background-repeat: no-repeat;
}

.checkbox__text {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400 !important;
   font-size: 18px;
   line-height: 142%;
   color: rgba(20, 85, 83, 0.75);
}

.checkbox__inner {
   display: flex;
   flex-direction: column;
}

.checkbox__header {
   padding: 25px;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 20px;
   line-height: 128.5%;
   color: #000000;
}

.checkbox__collapsible {
   border: 1px solid rgba(46, 126, 124, 0.25);
}

/* pogination */
.pagination ul {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   background: #fff;
   padding: 8px;
   border-radius: 50px;
   box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
   color: #20B2AA;
   list-style: none;
   line-height: 45px;
   text-align: center;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   user-select: none;
   transition: all 0.3s ease;
}

.pagination ul li.numb {
   list-style: none;
   height: 45px;
   width: 45px;
   margin: 0 3px;
   line-height: 45px;
   border-radius: 50%;
}

.pagination ul li.numb.first {
   margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
   margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
   font-size: 22px;
   cursor: default;
}

.pagination ul li.btn {
   padding: 0 20px;
   border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
   color: #fff;
   background: #20B2AA;
}

/* catalog__footer */
.catalog__footer {
   margin-top: 70px;
}



/* about__html */

.about__slide {
   width: 100%;
}

.about__con__inner {
   position: relative;
   display: flex;
   height: 618px;
   width: 100%;
   z-index: 3;
}

.about__con__img {
   position: absolute;
   opacity: .7;
   width: 100%;
}

.about__con__img img {
   width: 100%;
}

.about__con__content {
   padding: 80px;
   z-index: 3;
}

.about__con__title {
   display: inline;
   border-radius: 53px;
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 140%;
   text-transform: uppercase;
   color: #FFFFFF;
}

.about__con__text {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 140%;
   /* or 70px */
   text-transform: uppercase;
   color: #fff;
   position: absolute;
   top: 50%;
   right: -5%;
   transform: translate(-50%, -50%);
   width: 40%;
}

.about__con__group {
   position: absolute;
   z-index: 2;
   top: 50%;
   left: 40%;
   transform: translate(-50%, -50%);
   opacity: .8;
}

.about__con__group-top {
   position: absolute;
   z-index: 4;
   top: 0%;
   right: 0%;
}

.about__clients {
   display: flex;
   flex-direction: column;
}

.about__clients__content {
   margin-top: 100px;
   justify-content: center;
}

.about__clients__item {
   width: 25%;
}

.about__clients__btn {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-size: 18px;
   line-height: 128.5%;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   padding: 20px 40px;

   background-color: #2E7E7C;
   display: inline-block;
   border-radius: 36px;
   
   transition: .2s ease-out;
   border: 1px solid #2E7E7C;
}

.about__clients__btn:hover {
   color: #2E7E7C;
   background-color: #fff;
}
.about__clients__btns {
   display: flex;
   justify-content: center;
   margin-top: 100px
}